name: DevSecOps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Generate Semantic Version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: "v"
          format: "${major}.${minor}.${patch}"
          major_pattern: "BREAKING CHANGE"
          minor_pattern: "feat"

      - name: Print version
        run: echo "VERSION=${{ steps.version.outputs.version }}"

      - name: Build Docker Image
        run: |
          VERSION=${{ steps.version.outputs.version }}
          docker build --no-cache \
            -t ghcr.io/${{ github.repository_owner }}/devsecops-workshop-fresh:$VERSION \
            -t ghcr.io/${{ github.repository_owner }}/devsecops-workshop-fresh:latest \
            -f app/Dockerfile app/

      - name: Login to GHCR
        run: echo "${{ secrets.ghcr_secret }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push Images
        run: |
          VERSION=${{ steps.version.outputs.version }}
          docker push ghcr.io/${{ github.repository_owner }}/devsecops-workshop-fresh:$VERSION
          docker push ghcr.io/${{ github.repository_owner }}/devsecops-workshop-fresh:latest

      - name: Create GHCR Secret
        run: |
          kubectl delete secret ghcr-secret --ignore-not-found=true
          kubectl create secret docker-registry ghcr-secret \
            --docker-server=ghcr.io \
            --docker-username=${{ github.actor }} \
            --docker-password=${{ secrets.ghcr_secret }} \
            --docker-email=dummy@example.com

      - name: Apply Manifests
        run: kubectl apply -f k8s/

      - name: Patch Deployment With Version
        run: |
          VERSION=${{ steps.version.outputs.version }}
          kubectl set image deployment/devsecops-app web=ghcr.io/${{ github.repository_owner }}/devsecops-workshop-fresh:$VERSION

      - name: Wait for Rollout
        run: kubectl rollout status deployment/devsecops-app
